JWT_SECRET=test-secret
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:5433/ecommerce"
PORT=3000
NODE_ENV=development
## If you are using a frontend application in production, set the CLIENT_URL to the URL of your frontend application. For example:
# CLIENT_URL=http://example.com
## Else, you can leave it as is for development, which will allow CORS requests from http://localhost:5173 (or whatever PORT you set).
CLIENT_URL=http://localhost:5173
STRIPE_SECRET_KEY=sk_test_xxx
STRIPE_WEBHOOK_SECRET=whsec_xxx
APP_URL=http://localhost:3000
STRIPE_SECRET_KEY="sk_telirnMGbvzcgiPGablablaELC50wOSbyoEA77dz011shXKsSpKw00wrccM2ht"
STRIPE_WEBHOOK_SECRET="whsec_9b541d8e5"
REDIS_URL=redis://localhost:6379

BUCKET_NAME='bucket-name'
BUCKET_REGION='eu-west-1'
AWS_ACCESS_KEY_ID='your aws access key id'
AWS_SECRET_ACCESS_KEY='your aws secret access key'